<nav>
    <ul class="list-unstyled p-1">
        <!-- Open sidebar icon -->
        <li class="mb-2">
            <button id="toggle-btn" class="btn btn-link w-100 d-flex align-items-center text-start text-dark fs-5 py-3 px-2 rounded-3">
                <i class="bi bi-list fs-3 me-3"></i>
            </button>
        </li>
        <!-- Home page with house icon -->
        <li class="mb-2">
            <a href="#" data-page="home.html" class="sidebar-link active d-flex align-items-center w-100 text-decoration-none text-dark fs-5 py-3 px-2 rounded-3 hover-bg">
                <i class="bi bi-house-door-fill fs-3 me-3"></i>
                <span class="text-truncate d-block">Inicio</span>
            </a>
        </li>
        <!-- Birs information page with bird icon -->
        <li class="mb-2">
            <a href="#" data-page="birds.html" class="sidebar-link d-flex align-items-center w-100 text-decoration-none text-dark fs-5 py-3 px-2 rounded-3 hover-bg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="me-3 sidebar-icon" style="width:1.75rem; height:1.75rem;">
                    <defs>
                        <style>.cls-1{fill:#231f20}</style>
                    </defs>
                    <g id="parrot">
                        <path class="cls-1" d="M23.21 4h-6.75A6.47 6.47 0 0 0 10 10.46V15a1 1 0 0 0 2 0v-4.54A4.46 4.46 0 0 1 16.46 6H21v16.17A4.84 4.84 0 0 1 16.17 27h-1.39a6.28 6.28 0 0 0 1.11-1.54c.3-.59 1.7-3.62-.08-6.05S10.73 17 8.53 18.12a6 6 0 0 0-2.4 2.38l-4 7a1 1 0 0 0 0 1A1 1 0 0 0 3 29h13.17A6.83 6.83 0 0 0 23 22.17v-4.26A6 6 0 0 0 27.91 13H29a1 1 0 0 0 1-1v-1.21A6.79 6.79 0 0 0 23.21 4zm-9.1 20.54A5.06 5.06 0 0 1 10.89 27H4.72l3-5.17a7.76 7.76 0 0 0 2.8 3A1 1 0 0 0 11 25a1 1 0 0 0 .85-.48 1 1 0 0 0-.33-1.37 5.89 5.89 0 0 1-2.42-3 2 2 0 0 1 .37-.24c1.46-.78 3.71-.68 4.72.7s.05 3.69-.08 3.93zM23 15.86V13h2.86A4 4 0 0 1 23 15.86zM28 11h-5V6h.21A4.8 4.8 0 0 1 28 10.79z"/>
                        <path class="cls-1" d="M19 9a1 1 0 0 0-1-1 1 1 0 1 0 1 1z"/>
                    </g>
                </svg>

                <span class="text-truncate d-block">Aves</span>
            </a>
        </li>
        <!-- Map page with map icon -->
        <li class="mb-2">
            <a href="#" data-page="map.html" class="sidebar-link d-flex align-items-center w-100 text-decoration-none text-dark fs-5 py-3 px-2 rounded-3 hover-bg">
                <i class="bi bi-map-fill fs-3 me-3"></i>
                <span class="text-truncate d-block">Mapa</span>
            </a>
        </li>
        <!-- Settings page with gear icon -->
        <li class="mb-2">
            <a href="#" data-page="settings.html" class="sidebar-link d-flex align-items-center w-100 text-decoration-none text-dark fs-5 py-3 px-2 rounded-3 hover-bg">
                <i class="bi bi-gear-fill fs-3 me-3"></i>
                <span class="text-truncate d-block">Configuración</span>
            </a>
        </li>
        <!-- Login page with login icon -->
        <li class="mb-2">
            <a href="#" data-page="login.html" class="sidebar-link d-flex align-items-center w-100 text-decoration-none text-dark fs-5 py-3 px-2 rounded-3 hover-bg">
                <i class="bi bi-box-arrow-in-right fs-3 me-3"></i>
                <span class="text-truncate d-block">Iniciar Sesión</span>
            </a>
        </li>
    </ul>
</nav>