:root {
    --sidebar-width: 260px;
    --sidebar-width-collapsed: 75px;
    --bg-dark: #343a40;
    --bg-primary: #008766;
    --bg-secondary: #85bdb0;
    --bg-tertiary: rgba(36, 95, 81, 0.179);
    --secondary-color: #f2f291;
    --bg-primary-bright: #00b386;
    --bg-textbox: #d7fdeb;
}

#sidebar {
    width: var(--sidebar-width);
    transition: all 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    overflow-y: auto;
}

#header, footer {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    /* background-color: var(--secondary-color) !important; */
}

#sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
}

.sidebar-link {
    transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-link:hover {
    background-color: var(--bg-tertiary);
    color: #fff !important;
}

.sidebar-icon {
    flex-shrink: 0;
}

.sidebar-icon path {
    fill: currentColor;
}

.sidebar-link.active {
    border-left: 4px solid var(--bg-primary);
    background-color: var(--bg-tertiary);
    font-weight: bold;
    color: #fff !important;
}

.bg-dark {
    background-color: #34403c !important;
}

.bg-primary {
    background-color: #008766 !important;
}

.bg-secondary {
    background-color: #85bdb0 !important;
}

.bg-tertiary {
    background-color: rgb(101, 143, 137) !important;
}

.bg-light {
    background-color: #d5ffec !important;
}

#main-content {
    margin-left: var(--sidebar-width);
    transition: margin-left 0.3s ease;
    background: linear-gradient(135deg, #a4e3cc, #a0d4b6, #a4e3cc);
    width: calc(100% - var(--sidebar-width));
}

#sidebar.collapsed ~ #main-content {
    margin-left: var(--sidebar-width-collapsed);
}

/* Ensure button appears over map */
#add-bird-btn {
    z-index: 1000 !important;
    border: none;
    background-color: var(--bg-primary-bright);
}

#add-bird-btn:hover {
    background-color: var(--bg-primary);
    color: #fff !important;
}

#form-control {
    background-color: var(--bg-textbox) !important;
}